.GA-message pre, .GA-form-div pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

.GA-message p {
    overflow: auto;
}

.GA-message {
    position: absolute;
    z-index: 10000;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    padding: 30px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}
.GA-message-content {
    overflow-wrap: break-word;
}
.GA-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
}
.GA-close:hover {
    cursor: pointer;
}
.GA-close .svg:hover {
    cursor: pointer;
}
@media all and (max-width: 650px) {
    .GA-message {
        top: 100px;
        width: 250px;
        margin-left: -150px;

    }
}
@media all and (max-width: 400px) {
    .GA-message {
        width: 170px;
        margin-left: -105px;

    }
}