.note-group-select-from-files {
    display: none;
}

.note-modal-content {
    margin-top: 150px !important;
}

.GA-labelDisplayOption {
    font-size: 13px;
    font-weight: 600;
    color: #555;
}

.label-button {
    display: block;
    font-size: 13px;
    padding: 5px;
    background-color: rgba(240,240,240,.9);
    font-weight: 600;
    color: #555;
    border: 1px solid rgba(240,240,240,.9);
    cursor: pointer;
    text-align: center;
    margin: 15px 0 0 3px;
}

.label-button:hover {
    background-color: rgba(255, 255, 255, .95);
    color: #111;
}

.GA-form-div {
    margin: 10px 0 10px 0;
}

.GA-submit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding: 0 10px;
}

#GA-new {
    display: inline-block;
}

#GA-setTitle {
    border: none;
    border-bottom: 1px solid #ddd;
}

.GA-content-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #eee;
    min-height: 367px;
}

.block-title {
    font-weight: bold;
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding: 5px;
}


.GA-buttons {
    min-width: 150px;
}
#GA-setMsg-form textarea {
    width: 96%;
}


#GA-setDisplay {
    visibility: hidden;
    margin: 0;
}

.timeInfo {
    font-size: 10px;
    font-style: italic;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 0 10px;
}

#GA-groups-form .select2-container {
    min-width: 220px;
}

#GA-folder-form {
    margin-top: 10px;
}

#GA-folder-form select#GA-folder {
    min-width: 150px;
}

.GA-folders-shared {
    font-size: 11px;
    color: #eee;
}

#GA-message-preview {
    top: 0;
}

#bug-link {
    font-size: 10px;
}

#bug-link a{
    color: #0b93d5;
}
#bug-link a:hover {
    color: #7a43b6;
}

.GA-prompt {
    display: none;
}

#translations {
    position: absolute;
    visibility: hidden;
}

#GA-error-content {
    margin: 5px 0;
    width: 450px;
    padding: 5px;
    border-radius: 3px;
    color: #ce3702;
}

.required-error {
    margin: 5px 0;
    width: 250px;
    padding: 5px;
    border-radius: 3px;
    color: #ce3702;
}

.error {
    border: 1px solid #ce3702 !important;
}